---
title: Example of Even Columns
---
= ink_container do

  = ink_row do
    =ink_column(12) do
      =ink_panel do
        twelve.columns

  = ink_row do
    -2.times do
      =ink_column(6) do
        =ink_panel do
          six.columns

  = ink_row do
    -3.times do
      =ink_column(4) do
        =ink_panel do
          four.columns

  = ink_row do
    -4.times do
      =ink_column(3) do
        =ink_panel do
          three.columns