---
title: Example of Even Columns
---
= ink_container do

  = ink_row do
    =ink_column('twelve', :last=>true) do
      =ink_panel do
        twelve.columns


  = ink_row do
    =ink_column('six') do
      =ink_panel do
        six.columns

    =ink_column('six', :last=>true) do
      =ink_panel do
        six.columns


  = ink_row do
    =ink_column('four') do
      =ink_panel do
        four.columns

    =ink_column('four') do
      =ink_panel do
        four.columns

    =ink_column('four', :last=>true) do
      =ink_panel do
        four.columns


  = ink_row do
    =ink_column('three') do
      =ink_panel do
        three.columns

    =ink_column('three') do
      =ink_panel do
        three.columns

    =ink_column('three') do
      =ink_panel do
        three.columns

    =ink_column('three', :last=>true) do
      =ink_panel do
        three.columns