---
title: Text Padding Example
---
= ink_container do

  = ink_row do
    = ink_column(4) do
      =ink_left_text_pad do
        Text
    = ink_column(4) do
      =ink_content do
        Text
    = ink_column(4) do
      =ink_right_text_pad do
        Text